@import 'typos';
@import 'colors';
@import 'mixins';

html, body, p, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: $darkGray;
}

ul {
  list-style-type: none;
  padding: 0;
  @include flex-center(row);
  flex-wrap: wrap;
}

p {
  color: $white;
  font-family: 'Europa Light';
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

.title, .section-title {
  font-family: 'Eurostile Heavy';
}

.subtitle, .section-title {
  font-size: 24px;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

.title {
  font-size: 32px;
  line-height: 1;

  @media screen and (min-width: 1024px) {
    font-size: 50px;
  }
}

.subtitle {
  font-family: 'Europa Light';
}

.section, footer {
  @include flex-center(column);
  padding: 45px 25px;

  @media screen and (min-width: 768px) {
    padding: 50px 75px;
  }
  @media screen and (min-width: 1024px) {
    padding: 75px;
  }

  .separator {
    width: 150px;
    height: 4px;
    border-radius: 5px;
    background-color: $purple;
    margin: 20px 0;
  }

  .section-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .section-title {
    margin-bottom: 20px;
  }
}

.colored-section, footer {
  background-color: $purple;
}

.text-wrapper {
  max-width: 700px;
}

ul:last-child {
  margin-top: 20px;
}

li {
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid $white;
  margin-bottom: 10px;
  margin-right: 10px;

  p {
    line-height: 1;
  }
}

.row {
  @include flex-center(row);
}

.icon-circle {
  border: 1px solid $white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  @include flex-center(row);
  margin: 0 10px;

  .icon {
    width: 22px;
    height: 22px;
  }
}

.button {
  border: 2px solid $purple;
  border-radius: 40px;
  padding: 10px 35px;

  p {
    color: $purple;
    font-weight: bold;
  }
}

.button:hover {
  background-color: $purple;

  p {
    color: $white;
  }
}

.copyright {
  margin-top: 45px;
}