@font-face {
  font-family: 'Eurostile';
  src: url('./fonts/Eurostile-Heavy.otf');
}

@font-face {
  font-family: 'Europa';
  src: url('./fonts/Europa-Regular.otf');
}

@font-face {
  font-family: 'Europa Light';
  src: url('./fonts/Europa-Light.otf');
}