@import 'typos';
@import 'colors';
@import 'mixins';

// Reset

html, body, p, h1, h2, h3, h4, ul, figure {
  margin: 0;
}

body {
  background-color: $darkGray;
}

ul {
  list-style-type: none;
  padding: 0;
  @include flex-center(row);
  flex-wrap: wrap;
}

// Texts

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, a {
  color: $white;
  font-family: 'Europa Light';
  font-size: 16px;
  text-align: center;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

h4 {
  font-family: 'Europa';
  font-size: 20px;
  color: $turquoise;
  margin: 25px 0;
  text-transform: capitalize;

  @media screen and (min-width: 1024px) {
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 40px;
  }
}

h1, h3 {
  font-family: 'Eurostile';
}

h2 {
  font-size: 20px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }
}

h1 {
  font-size: 28px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 42px;
  }
}

// Header

.row, nav {
  @include flex-center(row);
}

.wrap {
  @include flex-center(row);
  flex-wrap: wrap;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (min-width: 425px) {
    padding: 20px;
  }
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  @media screen and (min-width: 1024px) {
    padding: 40px 70px;
  }

  a:not(.btn) {
    margin-left: 10px;
    color: $turquoise;
    font-family: 'Europa';

    @media screen and (min-width: 1024px) {
      margin-left: 30px;
    }

    &:hover {
      border-bottom: 2px solid $turquoise;
    }
  }

  .btn {
    margin-right: auto;
  }
}

// Main content

section, footer {
  @include flex-center(column);
  padding: 50px 25px;

  @media screen and (min-width: 768px) {
    padding: 75px;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px;
  }
  @media screen and (min-width: 1440px) {
    padding: 125px 150px;
  }

  .separator {
    width: 150px;
    height: 3px;
    border-radius: 2px;
    background-color: $turquoise;
    margin: 20px 0;
  }

  .section-content {
    @include flex-center(column);
    margin: 0 auto;
    max-width: 700px;
  }

  .section-title {
    margin-bottom: 20px;
  }
}

.colored-section, footer {
  background-color: $turquoise;

  h3, p {
    color: $darkGray;
  }
}

.top-separator {
  border-top: 1px solid $gray;
}

li {
  padding: 8px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;

  p {
    line-height: 1;
  }
}

// About

#about {
  position: relative;

  img {
    position: absolute;
    width: 45px;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 1024px) {
      width: 50px;
    }
    @media screen and (min-width: 1440px) {
      width: 60px;
    }
  }

  #earphones-icon {
    top: 25px;
    left: 25px;
    transform: rotate(-7deg);

    @media screen and (min-width: 1024px) {
      top: 50px;
      left: 50px;
    }
    @media screen and (min-width: 1200px) {
      left: 75px;
    }
    @media screen and (min-width: 1440px) {
      top: 60px;
      left: 150px;
    }
  }

  #kimono-icon {
    top: 25px;
    right: 25px;
    transform: rotate(15deg);

    @media screen and (min-width: 1024px) {
      top: 50px;
      right: 50px;
    }
    @media screen and (min-width: 1200px) {
      top: 50px;
      right: 75px;
    }
    @media screen and (min-width: 1440px) {
      top: 60px;
      right: 150px;
    }
  }

  #sakura-icon {
    right: 80px;
    top: 15px;
    width: 35px;
    transform: rotate(-5deg);

    @media screen and (min-width: 1024px) {
      right: 110px;
      top: 25px;
    }
    @media screen and (min-width: 1200px) {
      right: 125px;
    }
    @media screen and (min-width: 1440px) {
      right: 230px;
      top: 40px;
    }
  }

  #cinema-icon {
    bottom: -2px;
    left: 45px;

    @media screen and (min-width: 1024px) {
      left: 80px;
    }
    @media screen and (min-width: 1200px) {
      left: 100px;
    }
    @media screen and (min-width: 1440px) {
      left: 175px;
    }
  }
  
  #books-icon {
    bottom: -2px;
    left: 100px;

    @media screen and (min-width: 1024px) {
      left: 140px;
    }
    @media screen and (min-width: 1200px) {
      left: 165px;
    }
    @media screen and (min-width: 1440px) {
      left: 250px;
    }
  }

  #cat-icon {
    bottom: -1px;
    right: 50px;

    @media screen and (min-width: 1024px) {
      right: 100px;
    }
    @media screen and (min-width: 1200px) {
      right: 150px;
    }
    @media screen and (min-width: 1440px) {
      right: 250px;
    }
  }
} 

// Projects

#works .section-content {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 900px;
  }

  .tags {
    margin-bottom: 20px;

    .tag {
      margin: 0 10px 15px 10px;
      padding: 3px 13px;
      border: 1px solid $turquoise;
      border-radius: 20px;

      p {
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .tag:hover, .active-tag {
      background-color: $turquoise;
    
      p {
        color: $darkGray;
      }
    }
  }

  .works-wrapper {
    width: 100%;
  }
  
}

figure {
  width: 100%;
  margin-bottom: 30px;
  @include flex-center(column);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
  }

  > img {
    height: 180px;
    width: 100%;
    background-color: $white;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
      height: 215px;
    }
    @media screen and (min-width: 425px) {
      height: 250px;
      width: 375px;
    }
    @media screen and (min-width: 768px) {
      height: 185px;
      width: 280px;
    }
    @media screen and (min-width: 1024px) {
      height: 210px;
      width: 315px;
    }
    @media screen and (min-width: 1440px) {
      height: 250px;
      width: 375px;
    }
  }

  figcaption {
    padding: 10px 0;
    width: 100%;

    @media screen and (min-width: 425px) {
      width: 375px;
    }
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      width: 49%;

      p {
        text-align: left;
      }          
    }
    @media screen and (min-width: 768px) {
      padding-left: 25px;
    }
    
    p:first-child {
      font-family: 'Europa';
      border-bottom: 2px solid $turquoise;
      margin-bottom: 10px;
      font-size: 22px;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1440px) {
        font-size: 28px;
      }
    }

    .row, .wrap {
      margin-top: 25px;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
      }

      a {
        @include flex-center(row);
        margin-right: 15px;
        
        .chevron-icon {
          width: 16px;
          height: 10px;  
        }

        .code-icon {
          width: 20px;
          height: 20px;   
          margin-right: 7px;   
        }

        p {
          font-size: 16px;
          font-family: 'Europa';
        }

        &:hover {
          cursor: pointer;
          
          p {
            color: $turquoise;
          }
        }
      }
    }
  }

  figcaption.no-image {
    @media screen and (min-width: 768px) {
      width: 75%;
      padding-left: 0;
    }
  }
}

#works .btn {
  margin-top: 25px;

  @media screen and (min-width: 1024px) {
    margin-top: 55px;
  }
}

// Buttons

.btn {
  border: 2px solid $turquoise;
  border-radius: 40px;
  padding: 12px 35px;
  color: $turquoise;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background .5s ease;
  
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }

  &:hover {
    background-color: $turquoise;
    color: $darkGray;
  }
}

.btn:not(.small-btn) {
  margin-top: 50px;

  @media screen and (min-width: 1024px) {
    margin-top: 70px;
  }
}

.small-btn {
  padding: 1px 8px;
  border-radius: 25px;
  
  @media screen and (min-width: 425px) {
    padding: 3px 12px;
  }
}

// Footer

footer {
  position: relative;
  
  .icon-wrapper {
    margin: 0 10px;
    
    &:hover {
      opacity: 0.3;
    }

    > img {
      width: 40px;
      height: 40px;
    }
  }

  .icon-scroll-up {
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
    
    > img {
      width: 35px;
      height: 35px;
    }
  }
  
  .rights {
    margin-top: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
    }

    p:first-child {
      margin-bottom: 10px ;
    }
  }
}

.hidden {
  display: none;
}