@import 'typos';
@import 'colors';
@import 'mixins';

// Reset

html, body, p, h1, h2, h3, h4, ul, figure {
  margin: 0;
}

body {
  background-color: $darkGray;
}

ul {
  list-style-type: none;
  padding: 0;
  @include flex-center(row);
  flex-wrap: wrap;
}

// Texts

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, a {
  color: $white;
  font-family: 'Europa Light';
  font-size: 18px;
  text-align: center;
  line-height: 1.5;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  margin-bottom: 30px;
}

h4 {
  font-family: 'Europa';
  font-size: 20px;
  color: $turquoise;
  margin: 25px 0;
  text-transform: capitalize;

  @media screen and (min-width: 1024px) {
    font-size: 22px;
  }
}

a {
  font-family: 'Europa Light';
}

h1, h3 {
  font-family: 'Eurostile';
}

.subtitle, h3 {
  font-size: 24px;

  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

h1 {
  font-size: 32px;
  line-height: 1;

  @media screen and (min-width: 1024px) {
    font-size: 50px;
  }
}

.subtitle {
  font-family: 'Europa Light';
}

// Header

.row, nav {
  @include flex-center(row);
}

.wrap {
  @include flex-center(row);
  flex-wrap: wrap;
}

nav {
  justify-content: flex-end;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 30px;
  }
  @media screen and (min-width: 1024px) {
    padding: 40px 70px;
  }
  @media screen and (min-width: 1440px) {
    padding: 40px 200px;
  }

  a:not(.btn) {
    margin-left: 10px;
    color: $turquoise;

    @media screen and (min-width: 1024px) {
      margin-left: 30px;
    }

    &:hover {
      font-family: 'Europa';
      // color: $turquoise;
      border-bottom: 2px solid $turquoise;
    }
  }

  .btn {
    margin-right: auto;
  }
}

// Main content

section, footer {
  @include flex-center(column);
  padding: 45px 25px;

  @media screen and (min-width: 768px) {
    padding: 50px 75px;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px;
  }
  @media screen and (min-width: 1440px) {
    padding: 150px;
  }

  .separator {
    width: 150px;
    height: 3px;
    border-radius: 2px;
    background-color: $turquoise;
    margin: 20px 0;
  }

  .section-content {
    @include flex-center(column);
    margin: 0 auto;
    max-width: 700px;
  }

  .section-title {
    margin-bottom: 20px;
  }
}

.colored-section, footer {
  background-color: $turquoise;

  h3, p {
    color: $darkGray;
  }
}

.top-separator {
  border-top: 1px solid $gray;
}

li {
  padding: 8px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;

  p {
    line-height: 1;
  }
}

// Projects

#works-section .section-content {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 900px;
  }

  .tags {
    margin-bottom: 20px;

    .tag {
      margin: 0 10px 15px 10px;
      padding: 3px 13px;
      border: 1px solid $turquoise; // TODO: set another color
      border-radius: 20px;

      p {
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .tag:hover, .active-tag {
      background-color: $turquoise;
    
      p {
        color: $darkGray;
      }
    }
  }

  .works-wrapper {
    width: 100%;
  }
  
}

figure {
  width: 100%;
  margin-bottom: 20px;
  @include flex-center(column);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;
  } 
  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }

  > img {
    height: 180px;
    width: 100%;
    background-color: $white;
    border-radius: 12px;

    @media screen and (min-width: 375px) {
      height: 215px;
    }  
    @media screen and (min-width: 425px) {
      height: 250px;
      width: 375px;
    }  
    @media screen and (min-width: 768px) {
      height: 185px;
      width: 280px;
    }  
    @media screen and (min-width: 1024px) {
      height: 210px;
      width: 315px;
    }  
    @media screen and (min-width: 1440px) {
      height: 250px;
      width: 375px;
    }
  }

  figcaption {
    padding: 10px 0;

    @media screen and (min-width: 768px) {
      padding-left: 15px;
      width: 49%;

      p {
        text-align: left;
      }          
    }
    @media screen and (min-width: 768px) {
      padding-left: 25px;
    }
    
    p:first-child {
      font-family: 'Europa';
      border-bottom: 2px solid $turquoise;
      margin-bottom: 10px;
      font-size: 20px;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1440px) {
        font-size: 28px;
      }
    }

    .row, .wrap {
      margin-top: 25px;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
      }

      a {
        @include flex-center(row);
        margin-right: 15px;
        
        .chevron-icon {
          width: 16px;
          height: 10px;  
        }

        .code-icon {
          width: 20px;
          height: 20px;   
          margin-right: 7px;   
        }

        &:hover {
          cursor: pointer;
          
          p {
            font-family: 'Europa';
            color: $turquoise;
          }
        }
      }
    }
  }
}

// Buttons

.btn {
  border: 2px solid $turquoise;
  border-radius: 40px;
  padding: 15px 40px;
  color: $turquoise;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background .5s ease;
  
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }

  &:hover {
    background-color: $turquoise;
    color: $darkGray;
  }
}

.btn:not(.small-btn) {
  margin-top: 70px;
}

.small-btn {
  padding: 8px 20px;
  border-radius: 25px;
}

// Footer

.icon-wrapper, .icon {
  width: 45px;
  height: 45px;
}

.icon-wrapper {
  margin: 0 10px;
  
  &:hover {
    opacity: 0.3;
  }
}

.copyright {
  margin-top: 45px;
}

.hidden {
  display: none;
}